[project]
	description = EVE Route Planner with options
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Po Huit (PoHuit)
[access "refs/for/refs/*"]
	read = group user/Po Huit (PoHuit)
	push = group user/Po Huit (PoHuit)
	label-Code-Review = -2..+2 group user/Po Huit (PoHuit)
	label-Verified = -1..+1 group user/Po Huit (PoHuit)
	rebase = group user/Po Huit (PoHuit)
	removeReviewer = group user/Po Huit (PoHuit)
	submit = group user/Po Huit (PoHuit)
[access "refs/heads/*"]
	read = group user/Po Huit (PoHuit)
	create = group user/Po Huit (PoHuit)
	push = +force group user/Po Huit (PoHuit)
	pushMerge = group user/Po Huit (PoHuit)
[access "refs/tags/*"]
	push = group user/Po Huit (PoHuit)
	push = +force group user/Po Huit (PoHuit)
